	
<input type="submit" id="submit" value="Submit">
		
<script src="https://www.tecprocesssolution.com/proto/p2m/client/lib/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://www.paynimo.com/Paynimocheckout/server/lib/checkout.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#submit').on('click', function() {
			var configJson = {
                    'tarCall': false,
                    'features': {
                        'showLoader': true,
                        'showPGResponseMsg': true,
                        'enableNewWindowFlow': true, //for hybrid applications please disable this by passing false
                        'enableExpressPay': true,
                        'enableAbortResponse': false,
                        'enableMerTxnDetails': true,
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2',
                        'token': '{{data.token}}',
                        'returnUrl': '{{data.returnUrl}}',
                        'merchantLogoUrl':'https://www.paynimo.com/CompanyDocs/company-logo-md.png',  //provided merchant logo will be displayed
                        'merchantId': '{{data.mrctCode}}',
                        'currency': '{{data.currency}}',
                        'txnType': 'SALE',
                        'txnSubType': 'DEBIT',
                        'consumerId': '{{data.CustomerId}}',
                        'consumerMobileNo': '{{data.customerMobNumber}}',
                        'consumerEmailId': '{{data.email}}',
                        'txnId': '{{data.merchantTxnRefNumber}}',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': '{{data.scheme}}',
                            'amount': '{{data.Amount}}',
                            'comAmt': '0'
                        }],
                        'merRefDetails': [
                    		{'name': 'Txn. Ref. ID', 'value': '{{data.merchantTxnRefNumber}}'}
                		],
                    }
                };
                // console.log(configJson);
                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
		});
	});
</script>